body {
  background: red;
  font-family: terminal-grotesque;
  
}


h1 {
  font-family: terminal-grotesque;
  color: red;
  font-size: 75px;
  text-align: center
  
} 

footer{
    font-family: terminal-grotesque;
    color: red;
    font-size: 20px;
    text-align: center
  }


 img {
  width: 500px;
  max-width: 100%;
  align-items: center;
  padding: 100px;
} 







