


body {
  background: white;
  font-family: "MyFont";
  font-size: 75px;
  text-align: center
}


h1 {
  font-family: "MyFont";
  color: red;
  font-size: 75px;
  text-align: center
  
} 




 img {
  width: 500px;
  max-width: 100%;
  align-items: center;
  padding: 100px;
} 







